
table.table.table-striped
  each user in list
    - var name = [user.firstname, user.lastname].join(' ')
    tr
      td
        img.friends-avatar(src="/avatar/"+ user.id, width="60", height="60", style="object-fit: contain;", alt=name)
      td.vmiddle= name
      td.vmiddle
        a.request(href="#", data-id=user.id) Добавить в друзья
  block scripts
  script(src="/plupload-2.1.8/plupload.full.min.js")
  script(src="/plupload-2.1.8/i18n/ru.js")
  script(src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js")
  script(type="text/javascript").
    $(function(){
      var uploader = new plupload.Uploader({
          url: '/avatar/' + my.id,
          },
          resize:{
            width: 60, 
            height: 60
          }
      });
      //console.log(uploader);
      //- uploader.bind('FileUploaded', function(up, file, result){
      //-     if(result.status == 200){
      //-       var src = $('.friends-avatar').attr('src').split('?',1)[0]+ '?_'+ new Date().getTime();
      //-       $('.friends-avatar').attr('src', src);
      //-     }
      //-     else{
      //-       alert(result.response);
      //-     }
      //- });
    }